/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: clamp(0.125rem, 34.774vw - 8.047rem, 23.25rem);
  margin-block: 102px;
  font-family: var(--basic-font), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-basic);
  color: var(--basic-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
}

.header {
  inline-size: 100%;
  margin-block-end: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: clamp(1rem, 6.731vw - 0.578rem, 7.5rem);
  padding-block-start: clamp(7.5rem, 1.504vw + 7.147rem, 8.5rem);
  padding-block-end: 25px;
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  background-color: var(--bg-color);
  outline: 2px solid var(--basic-color);
}

.header__logo {
  margin-block-end: 20px;
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__title {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  margin-inline-start: 20px;
  gap: 14px;
  font-size: var(--font-size-min);
}

.theme-menu__button {
  position: relative;
  padding: 0;
}

.theme-menu__button:focus {
  outline: none;
  transition: opacity 0.3s ease;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  block-size: 2px;
  inline-size: 100%;
  background-color: var(--basic-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transition: transform 0.3s ease;
  transform: scaleX(1);
  transform-origin: left;
}

.theme-menu__button:hover {
  transition: opacity 0.3s ease;
  opacity: 0.6;
}

button:disabled {
  position: relative;
  transition: opacity 0.3s ease;
  opacity: 0.6;
  pointer-events: none;
}

button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
  animation: marker 0.5s ease-in-out infinite alternate;
}

@keyframes marker {
  from {
    left: -20px;
  }

  to {
    left: -16px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  margin-block-end: 54px;
  gap: 50px;
}

.content__container {
  inline-size: 100%;
  background-color: var(--bg-color);
  font-family: var(--basic-font), sans-serif;
  font-weight: var(--font-weight-basic);
  outline: 2px solid var(--basic-color);
}

.content__container-title {
  display: flex;
  inline-size: 100%;
  padding: 5px 10px;
  font-size: var(--font-size-max);
  font-variation-settings: 'wght' var(--font-weight-title);
  outline: 2px solid var(--basic-color);
}

.content__container-image {
  position: relative;
  outline: 2px solid var(--basic-color);
}

.content__image {
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

.content__logo {
  position: absolute;
  top: 25px;
  right: clamp(0.688rem, 1.315vw + 0.379rem, 1.563rem);
  font-family: var(--accent-font), sans-serif;
  font-size: var(--font-size-min);
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--color-shadow), 0 1px var(--color-shadow),
    1px 0 var(--color-shadow), 0 -1px var(--color-shadow);
}

@supports (
  (text-stroke: 1px var(--color-shadow)) or
    (-webkit-text-stroke: 1px var(--color-shadow))
) {
  .content__card-label {
    -webkit-text-stroke: 1px var(--color-shadow);
    text-stroke: 1px var(--color-shadow);
    text-shadow: none;
  }
}

.content__paragraph {
  display: flex;
  flex-direction: column;
  margin: 25px 25px 0;
  gap: 27px;
  font-size: var(--font-size-max);
  line-height: 21px;
  font-weight: var(--font-weight-basic);
}

.content__animation-button {
  display: flex;
  justify-content: end;
  padding: 25px;
  gap: 4px;
  font-family: var(--accent-font), sans-serif;
  font-size: var(--font-size-min);
  line-height: 0.9;
}

.card__icon-button {
  border: 2px solid transparent;
}

.heart-button {
  transition: border 0.3s ease;
  padding: 0;
}

.heart-button:focus {
  outline: none;
}

.heart-button:focus-visible {
  border: 2px solid var(--basic-color);
  transition: border 0.3s ease;
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 130px;
  block-size: 40px;
  border: 2px solid var(--basic-color);
}

.footer__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  gap: 8px;
  background-color: var(--bg-color);
  border: 2px solid var(--basic-color);
  font-family: var(--accent-font), sans-serif;
  line-height: 0.9;
  transition: box-shadow 0.3s ease;
}

.accent-text-button {
  font-size: var(--font-size-min);
  box-shadow: 0 0 0 transparent;
  transition: box-shadow 0.3s ease;
}

.accent-text-button::after {
  content: "";
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--basic-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.accent-text-button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.accent-text-button:focus {
  outline: none;
}

.accent-text-button:focus-visible {
  box-shadow: 2px 2px 0 var(--basic-color);
  transition: box-shadow 0.3s ease;
}


.button__text {
  position: relative;
  z-index: 1;
  color: var(--color-button);
  mix-blend-mode: difference;
}

.floppy {
  position: relative;
  inline-size: 21px;
  block-size: 21px;
  z-index: 1;
  color: var(--color-button);
  mix-blend-mode: difference;
}

/* диалоговое окно */

.dialog__save[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: clamp(21.313rem, 1.502vw + 20.96rem, 22.313rem);
  padding-block: 30px;
  padding-inline: 30px;
  gap: 30px;
  background-color: var(--bg-color);
  color: var(--basic-color);
  font-family: var(--accent-font), sans-serif;
  font-size: var(--font-size-min);
  line-height: 1.5;
  text-transform: uppercase;
  outline: 2px solid var(--basic-color);
}

.dialog__save::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.floppy-dialog {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.dialog__button {
  position: relative;
  inline-size: 100%;
  padding: 9px 17px;
  border: 2px solid var(--basic-color);
}

/* фильтры */

.go {
  filter: contrast(175%) saturate(90%);
}

.question {
  filter: grayscale(60%) contrast(100%);
}

.can {
  filter: invert(15%) saturate(150%);
}

.magic {
  filter: contrast(75%) grayscale(60%);
}

.dream_team {
  filter: brightness(100%) contrast(170%);
}

.my_way {
  filter: contrast(75%) saturate(30%);
}

.emotion {
  filter: blur(3px) contrast(120%);
}

.winner {
  filter: invert(20%) saturate(70%);
}

/* медиазапросы */

@media (width <= 375px) {
  .page {
    margin-inline: 0;
  }

  .header {
    margin-inline: 0;
  }

  .header__logo {
    font-size: clamp(2.188rem, -1.313rem + 18.667vw, 3.063rem);
  }

  .content {
    inline-size: 100%;
  } 

  .footer {
    margin-inline: 35px;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  .footer__button {
    display: flex;
    flex-direction: column;
    padding-inline: 19px;
  }

}

