/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --basic-font: Inter;
  --accent-font: PressStart2P;
  --font-weight-title: 785;
  --font-weight-basic: 465;
  --font-size-min: 14px;
  --font-size-max: 18px;
  --basic-color: #00cc14;
  --color-shadow: #000;
  --color-button: #00cc14;
  --heart-color: #ff0000;
  --bg-color: #000;
  --bg-image: repeating-linear-gradient(
      to right,
      #000 0,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      #000 0,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#007f0c, #004306);
}
